[submodule "Middlewares/qpc"]
	path = Middlewares/qpc
	url = git@github.com:QuantumLeaps/qpc.git
[submodule "test/googletest"]
	path = test/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/littlevgl/lvgl.git
